<div class="col-md-8">
  <div class="col-md-2" style="margin-top: 50px"></div>
  <h1>Exporting customization</h1>
  <ul>
    <li>
      <a routerLink=''>Default exporting</a>
    </li>
    <li>
      <a routerLink="addingCustomFont">Add customFont</a>
    </li>
    <li>
      <a routerLink="addHeaderAndFooter">Add header and footer</a>
    </li>
    <li>
      <a routerLink="changePageSize">Change pageSize</a>
    </li>
    <li>
      <a routerLink="changeFilename">Change filename</a>
    </li>
    <li>
      <a routerLink="changePageOrientation">change PageOrientation</a>
    </li>
    <li>
      <a routerLink="changeDocumentWidthAndHeight">change document width and height</a>
    </li>
    <li>
      <a routerLink="customizeColumnCount">customize column count</a>
    </li>
    <li>
      <a routerLink="changeTableColumnWidthAndRowHeight">ChangeTableColumnWidthAndRowHeight</a>
    </li>
    <li>
      <a routerLink="changePivotTableStyle">change pivot table style</a>
    </li>
    <li>
      <a routerLink="exportAllPages">Export all pages</a>
    </li>
    <li>
      <a routerLink="tableAndChartExport">Table and chart export</a>
    </li>
    <li>
      <a routerLink="multipleExport">Multiple export</a>
    </li>
    <li>
      <a routerLink="blobData">Blob data</a>
    </li>

  </ul>
  <router-outlet></router-outlet>
</div>